*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.canvas--wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: rgb(13, 44, 35);
}

.canvas {
  height: 100%;
  width: 100%;
  background-color: rgb(25, 37, 65);
}

.controls {
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls:hover {
  opacity: 1;
}

.controls label {
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.control-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
