*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  padding: 1rem;
  border: 1px solid white;
}
